
* {
   margin: 0;
   padding: 0;
   box-sizing:border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root {
   --bg-color: #b3c68f;       /* Earthy sage green */
   --dark-green: #0a2417;     /* Deep footer/text color */
   --accent-dark: #000000;
   --card-white: #ffffff;
   --text-muted: #4a5d4e;
}


body {
   background-color: var(--bg-color);
   color: var(--dark-green);
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}


/* --- NAVBAR  --- */
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 5%;
   background-color: transparent;
}
.logo {
   font-weight: bold;
   font-size: 1.2rem;
   display: flex;
   align-items: center;
   gap: 8px;
}


.nav-links {
   display: flex;
   gap: 15px;
}


.nav-item {
   text-decoration: none;
   color: var(--dark-green);
   background-color: #cbdcb0;
   padding: 6px 16px;
   border-radius: 20px;
